html, body {
  height: 100%;
  margin: 0;
  background-color: #996888;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  background-color: #C99DA3;
}

header, nav div, nav {
  background-color: #C99DA3;
  border-color: #C99DA3;
}

.navbar-brand {
  color: #2A2B2A;
}
.navbar-brand:hover {
  color: #2A2B2A;
}

.navbar-nav a {
  color: #2A2B2A
}

main {
  flex-grow: 1;
}

footer {
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  background-color: #C99DA3;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.footer-icons svg {
  cursor: pointer;
  transition: color 0.3s;
  color: #996888;
}

.footer-icons svg:hover {
  cursor: pointer;
  color: #5E4955;
}

.aboutme {
  padding: 5px;
  background-color: #5E4955;
  margin-top: 5px;
  margin-bottom: 5px;
}

.portfoliocard {
    padding: 5px;
    background-color: #5E4955;
    margin-top: 5px;
    margin-bottom: 5px;
}

.portfoliocard h2 {
    margin-left: 5px;
}

.contactform {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #5E4955;
}